<p id="notice"><%= notice %></p>
<% if logged_in? %>

  <h1>タスク</h1>
  <h2>検索</h2>
    <%= search_form_for @q do |f| %>
    
    <%= f.label :title_or_description, "Keyword" %>
    <%= f.search_field :title_or_description_cont %>
    
    <%= f.label :start_date %>
    <%= f.date_field :start_date_gteq %>以上〜
    <%= f.date_field :start_date_lt %>未満  
    
    <%= f.label :limit_date %>
    <%= f.date_field :limit_date_gteq %>以上〜
    <%= f.date_field :limit_date_lt %>未満  
    
    <%= f.label :end_date %>
    <%= f.date_field :end_date_gteq %>以上〜
    <%= f.date_field :end_date_lt %>未満  
    
    <!--<%= f.label :priority %>-->
    <!--<%= f.radio_button :priority, 0 %>-->
    <!--<%= f.radio_button :priority, 1 %>-->
    
    <!--<%= f.label :status %>-->
    <!--<%= f.radio_button :status, 0 %>not_started-->
    <!--<%= f.radio_button :status, 1 %>processing-->
    <!--<%= f.radio_button :status, 2 %>end-->
    <br><br>
    <%= f.submit "検索" %>
  <% end %>
  
  <h2>並び替え</h2>
    <tr>
      <th><%= sort_link(@q, :title, "タイトル") %></th>
      <th><%= sort_link(@q, :start_date, "作業開始日") %></th>
      <th><%= sort_link(@q, :limit_date, "作業終了予定日") %></th>
      <th><%= sort_link(@q, :end_date, "作業終了日") %></th>
      <th><%= sort_link(@q, :priority, "優先度") %></th>
      <th><%= sort_link(@q, :status, "ステータス") %></th>
      <th colspan="3"></th>
    </tr>
      
  <h2>リスト</h2>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>作業開始日</th>
        <th>作業終了予定日</th>
        <th>作業終了日</th>
        <th>優先度</th>
        <th>ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.start_date %></td>
          <td><%= task.limit_date %></td>
          <td><%= task.end_date %></td>
          <td><%= task.priority %></td>
          <td><%= task.status %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'タスクを新しく作る', new_task_path %>

<% end %>
